body{ background-image:url(../img/ros.png),url(../img/sil.png),url(../img/bggg.jpg);
	  background-repeat:no-repeat,no-repeat; 
	  background-size:25%,25%,cover;

	  background-position:3% 3% ,right 2% bottom ,center; 
	  background-attachment:fixed; 


}

.content{
		  width:700px;
		  padding:30px;
		  margin:0 auto;
		  background-color: rgba(0,0,0,0.4);
		  color:rgb(#0,0,0,0,0,0);
		  font-size: 20px;
		  font-family: serif;

}


.hover{

	color:white;}
.wed{ 
	  float:left;
	  padding:5px;
	  margin:2px;
	  border-radius: 20px;

}



footer{
	font-size: 12px;
	text-align: center;
	color: #444;
	padding-top: 20px;
	padding-bottom: 100px;
}

